<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content> -->

<ion-header class="ion-no-border">
  <ion-toolbar color='dark'>
    <ion-title>David's news</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='dark'>
  <app-news [notices]='notices'></app-news>
  <ion-infinite-scroll threshold="100px" position="bottom" (ionInfinite)="onLoadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..." class="loadingspinner">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>